<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <a href="{% url 'profile' %}"><h1 style="text-align: center;font-weight: bold;" name="see">See my profile</h1></a>
        <h1 style="text-align: center;font-weight: bold;" name="h1"> How's your day? </h1>
        <form id="form" method="POST" action="{% url 'index' %}">
            {% csrf_token %}
            {{ form }}
            <br>
            <button type="submit">Submit</button><br>
        </form>

        <div>
            <table>
                {% if data %}
                    {% for dat in data %}
                        <tr>
                            <td>{{ dat.datetime }}</td>
                        </tr>
                        <tr>
                            <td>{{ dat.content }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>    
        </div>
    </body>
</html>